.feed {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 2rem;

	.no-content {
		width: 70%;
		margin: 2rem auto 0;
		text-align: center;

		span {
			font-size: 7rem;
		}

		p {
			color: var(--gray-9);
			font-style: italic;
		}
	}

	.post {
		.content {
			p {
				margin: 1rem 0 .8rem;
			}
		}

		.post-buttons {
			display: flex;
			gap: 0.5rem;
			margin-top: 0.5rem;
			margin-bottom: 1rem;

			button:first-of-type {
				margin-left: auto;
			}
		}

		.comments-count {
			border-top: 1px solid var(--gray-5);
			padding-top: 1rem;

			.comments-content {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				width: fit-content;
				margin: 0 auto;

				span {
					color: var(--gray-9);

					&:first-of-type {
						margin-top: 3px;
					}
				}
			}
		}
	}
}