header {
	background: var(--accent-a4);
	padding: .8rem 1rem 1rem;

	.navbar-top {
		display: flex;
		align-items: center;
		height: 80px;

		.side-actions {
			margin-left: auto;
			display: flex;
			gap: .5rem;

			.members-count {
				background: var(--grass-9);
				color: white;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 0.75rem;
				font-weight: 600;
				margin-left: 0.5rem;
				min-width: 20px;
			}
		}
	}
}

.logo {
	display: flex;
	color: var(--grass-10);
	align-items: center;
	cursor: pointer;

	span {
		font-size: 2rem;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: 600;
		margin-left: .5rem;
		color: var(--grass-10);
		margin-bottom: 0;
	}
}