header {
	background: var(--accent-a4);
	padding: .8rem 1rem 1rem;

	.navbar-top {
		display: flex;
		align-items: center;
		height: 80px;

		.side-actions {
			margin-left: auto;
			display: flex;
			gap: .5rem;
		}
	}
}

.logo {
	display: flex;
	color: var(--grass-10);
	align-items: center;
	cursor: pointer;

	span {
		font-size: 2rem;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 1.5rem;
		font-weight: 600;
		margin-left: .5rem;
		color: var(--grass-10);
		margin-bottom: 0;
	}
}